@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.container {
    width: min(100vw, 600px);
    height: 100vh;
    --display-size: 35%;
    background: #fefefe;
    margin: 0 auto;
}

.calculator {
    width: 100%;
    height: 100%;
    background: #374352;
}

.calculator .displayHolder {
    height: var(--display-size);
    color: #fff;
    width: 100%;
    background: #3a4655;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 6vh;
    display: flex;
}

.calculator .displayHolder .display {
    scrollbar-width: 0;
    scroll-behavior: smooth;
    margin-right: 0.5rem;
    padding-right: 0.25rem;
    overflow: auto;
}

.calculator .displayHolder .display::-webkit-scrollbar {
    display: none;
}

.calculator .displayHolder .preview {
    color: #8f8f8f;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    margin-right: 0.5rem;
    padding-right: 0.25rem;
    overflow: auto;
}

.calculator .displayHolder .preview::-webkit-scrollbar {
    display: none;
}

.calculator .numpad {
    height: calc(100% - var(--display-size));
    width: 100%;
    background: #3d4856;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    display: grid;
}

.calculator .numpad button {
    border: unset;
    color: #fff;
    cursor: pointer;
    user-select: none;
    background: #374352;
    font-size: 4vh;
}

.calculator .numpad button svg {
    height: 4vh;
}

.calculator .numpad button:active {
    background: #323c49;
}

.calculator .numpad button.special {
    color: #ee7708;
}